/* css注释不会呈现在网页上，但如果访问源代码，就能看到它们 */

/*-------content-------*/
body {
	background-image: url(../img/soul_yard2.jpg);
	background-size: 100%;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-color: #F9AE58;


}


main {
	width: 1000px;
	background-color: antiquewhite;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 30px 20px 20px;
	border-radius: 10px;

}


a,
time,
form {
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}




.lp {
	display: inline-block;
	border: 2px solid #9A774C;
	width: 16em;
	height: 12em;
}

.sp {
	display: inline-block;
	width: 12em;
	height: 16em;
	border: 2px solid #9A774C;
}

#jimei {
	width: 200px;
	height: 200px;
	border: 2px solid #394E55;
	float: left;
	margin-right: 10px;

}

h1,p {
	font-family: 'Comic Sans MS','楷体';
}

h1 {
	font-size: 1.6em;
}

p {
	font-size: 1.1em;
}

.social-platform,
.social-platform p{
	font-size: 1.5em;
	display: inline;
}

.social-platform img{
	vertical-align: text-bottom;
}

#logo {
	display: block;
}

figure {
	font-size: 1.4em;
	font-family: 'Quicksand', sans-serif;
	font-style: bold;
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 8px;
	background-color: #C695C6;
	padding: .5em .3em .5em;
	border-radius: 15px;
}

figure figcaption cite {
	font-family: default;
}

.sidebar{
	width: 200px;
	background-color: #EC5F66;
	padding: 3px 0px 3px;
	float: right;
	position: absolute;
	top: 19.8em;
	right: 11px;
	margin: 0;
	float: right;
}

.sidebar aside ul{
	list-style-type: circle;	
}

.sidebar aside p {
	text-align: center;
}


.pageclip-form__submit {
	display: block;
	margin-top: .5em;

}

.pageclip-form {
	text-align: center;
}



form {
	display: inline;
}

.content {
	display: block;
	background-color: #FF699A;
	padding: 20px 20px;
	margin: 0;
	border-radius: 20px;
	font-family: 'Comic Sans MS';
}


/*--------------------nvagation-----------------------*/
.nav,
.nav ul {
	background: #00AD77;
	list-style: none;
	margin: 0;
	padding: 0;

}

.nav {
	margin-top: 1.1em;
	min-height: 1.3em;
 	overflow: auto;
	padding: 5px 5px 5px 8px;
	color: yellow;


	/* 
		Tools like css3please.com, which I used for the code that follows, 
		help you generate CSS3 code. Try it out yourself!
	*/
  	-webkit-border-radius: 6px 6px 0 0; /* Android â‰¤ 1.6, iOS 1-3.2, Safari 3-4 */
          border-radius: 6px 6px 0 0; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
}

.nav a {
	color: #eee;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

.nav li {
	float: left; 				
	width: 10em;
	font-family: 'Comic Sans MS','楷体';
}

.nav li a:hover,
.nav li:hover > a {
	color: #aabadd;
}

/* :::: Navigation Submenus (the dropdowns) :::: */
header {
	border-top: 5px solid black;
	border-bottom: 1px solid #c8c8c8;
	position: relative;
}

header li:first-child {
	border-left: none;
}

header li {
	display: inline-block;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 1.3em;
	padding: .5em 0.01em .5em .02em;
	margin:0
/*border-left: 1px solid #c8c8c8;*/
}

.nav .submenu {
	margin-left: -10px;
	padding: 10px 10px 15px;
	left: -999em; /* hide a submenu offscreen by default so visitors don't see it */
	position: absolute;
	z-index: 1000;
	
	/* 
		See note above about css3please.com.
	*/
  -webkit-border-radius: 0 0 8px 8px; /* Android â‰¤ 1.6, iOS 1-3.2, Safari 3-4 */
          border-radius: 0 0 8px 8px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
}

.nav li:hover .submenu {
	display: block; /* for older versions of IE */
	left: auto; /* show the submenu when user hovers over the parent li */
	width: 10em;
}

.nav .submenu li {
	display: block;
	float: none;
	font-size: .8em;
	margin-top: .5em;
	width: auto;
}

.search form  {
	display: inline-block;
	position: absolute;
	right: 10.5em;

}

.search img {
	vertical-align: bottom;
}



/*--------------bottom------------*/
.bottom {
	color: white;
	background-color: #304841;
	margin-bottom: 0;
	padding: 15px 8px;
	padding-bottom: 10px;

}




.info {
	vertical-align: middle;
	text-align: center;
}













